
body {
    background-color: #051823; /* ???? ???? ???-???????? */
    margin: 0 auto 0 auto;
    position: relative;
}

.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.panel {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

.top-panel {
    background-image: url("/static/img/top-panel.png");
    width: 1000px;
    height: 71px;
    position: relative;
    margin: 4px 0;
}

.top-panel-point {
    position: absolute;
    top: 7px;
    height: 43px;
    width: 70px;
    padding: 14px 32px 0 55px;
    color: #58707f;
    font-size: 12px;
    font-family: "Myriad Pro";
    text-decoration: none;
    display: block;
    z-index: 2;
}

.top-logo {
    left: 7px;
    width: 137px !important;
}

.top-add {
    left: 388px;
}

.top-install {
    left: 231px;
}

.top-group {
    left: 545px;
}

.top-invate {
    left: 702px;
}

.top-prize {
    left: 859px;
    width: 47px !important;
}

.top-panel-point:hover {
    color: #fcfcfc;
    text-decoration: underline;
}

.done {
    background-image: url("/static/img/top-active.png");
    padding-left: 83px;
    left: 203px;
    color: #ffffff !important;
}

.done_2{
    background-image: url("/static/img/top-active.png");
    padding-left: 83px;
    left: 360px;
    color: #ffffff !important;
}

.done_3{
    background-image: url("/static/img/top-active.png");
    padding-left: 83px;
    left: 517px;
    color: #ffffff !important;
}

.done_4{
    background-image: url("/static/img/top-active.png");
    padding-left: 83px;
    left: 674px;
    color: #ffffff !important;
}

.done_5 {
    padding-left: 75px !important;
    background-image: url("/static/img/gold-active.png");
    color: #ffffff !important;
    left: 839px !important;
}
