    body {
        background-color: #051823; /* ???? ???? ???-???????? */
        margin: 0 auto 0 auto;
        position: relative;
    }
		
	.container {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .panel {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 1000px;
    }

    .top-panel {
        background-image: url("img/top-panel.png");
        width: 1000px;
        height: 71px;
        position: relative;
        margin: 4px 0;
    }

    .top-panel-point {
        position: absolute;
        height: 43px;
        width: 70px;
        display: inline-block;
        z-index: 2;
    }

    .top-logo {
        left: 15px;
        width: 218px !important;
    }

    .top-install {
        background: url("img/1_not_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 235px;
    }

    .top-add {
        background: url("img/4_not_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 386px;
    }

    .top-group {
        background: url("img/2_not_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 537px;
    }

    .top-invate {
        background: url("img/3_not_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 688px;
    }

    .top-prize {
        background: url("img/5_not_activ.png") no-repeat;
        height: 71px;
        left: 839px;
        width: 160px !important;
    }
	
	.top-panel-point:hover {
        color: #fcfcfc;
        text-decoration: underline;
    }

    .done {
        background: url("img/1_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 235px;
    }

    .done_2{
        background: url("img/4_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 386px;
    }

    .done_3{
        background: url("img/2_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 537px;
    }

    .done_4{
        background: url("img/3_activ.png") no-repeat;
        width: 176px;
        height: 71px;
        left: 688px;
    }

    .done_5 {
        background: url("img/5_activ.png") no-repeat;
        height: 71px;
        left: 839px;
        width: 160px !important;
    }